<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body class="bg-background">

    <div class="container-fluid">
        <div class="text-center">
            <h1 class="display-1"><%= errorCode %></h1>
            <h3><%= errorMessage %></h3>
            <h4 class="mt-5 mb-5 display-4"><a class="text-pink" href="/">Back to Home</a></h4>
            <a class="pt-5 text-foreground" data-toggle="collapse" href="#collapseExample">
                Details
            </a>
            <div class="collapse row pb-5 mt-5" id="collapseExample">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="card card-body bg-default">
                        <code class="text-foreground">
                            <%= JSON.stringify(errorDetails) %>
                        </code>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer'); %>

</body>

</html>
